// ======================================================================================
// File         : general_editor.xcconfig
// Author       : Wu Jie 
// Last Change  : 05/04/2011 | 16:52:16 PM | Wednesday,May
// Description  : 
// ======================================================================================

// TARGET_BUILD_DIR = $PROJECT_DIR/_bin
HEADER_SEARCH_PATHS_SHARED = "../../src/" "../../ext/dlmalloc-2.8.4/" "../../ext_build/cairo-1.10.2/" "../../ext_build/SDL-1.3/" "../../ext/lua-5.1.4/" "../../ext_build/devil-1.7.8/include"
LIBRARY_SEARCH_PATHS_SHARED = "$(SRCROOT)/../../ext/"
GCC_PREPROCESSOR_DEFINITIONS_SHARED = PHYSFS_HAVE_SYS_UCRED_H=1 _REENTRANT _THREAD_SAFE HAVE_ASSERT_H=1 PHYSFS_SUPPORTS_ZIP=1 PHYSFS_SUPPORTS_7Z=1 PHYSFS_SUPPORTS_GRP=1 PHYSFS_SUPPORTS_WAD=1 PHYSFS_SUPPORTS_HOG=1 PHYSFS_SUPPORTS_MVL=1 PHYSFS_SUPPORTS_QPAK=1 PHYSFS_HAVE_READLINE=1 _FILE_OFFSET_BITS=64 _LARGE_FILES
USE_HEADERMAP = NO
