// ======================================================================================
// File         : general_debug.xcconfig
// Author       : Wu Jie 
// Last Change  : 04/14/2011 | 11:26:22 AM | Thursday,April
// Description  : 
// ======================================================================================

#include "general_ios.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_SHARED) __EX_DEBUG__
