// ======================================================================================
// File         : general_exsdk_release.xcconfig
// Author       : Wu Jie 
// Last Change  : 05/04/2011 | 15:59:48 PM | Wednesday,May
// Description  : 
// ======================================================================================

#include "general_exsdk.xcconfig"

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_SHARED)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS_SHARED)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_SHARED) __EX_RELEASE__
